.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

* {
    background-color: rgb(156, 236, 247);
}

.bio {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif
}

img { 
    border:2px solid #021a40;
 }

 .inline {
     display: inline-block;
     /* height: 200px; */
     width: 40%;
     border:2px solid;
     position: relative;
     top: 0px;
     box-shadow: 5px 10px 8px #888888;
     border-radius: 5px;
     
 }

 .alignleft{
     margin-left: 15px;
     padding-left: 5px;
 }

 .alignright{
     float: right;
     margin-right: 15px;
     padding-left: 5px;
 }
 
 ul li { margin-bottom: 10px; }
